<div class="page-container onest-font">
        <app-ui-playground [htmlCode]="codeHtml" [scssCode]="codeScss" [meta]="meta">

            <div class="library-container">

              <!-- Radio Option 1 -->
              <label class="radio-wrapper">
                <input type="radio" name="subscription" class="aden-radio" value="standard">
                <div class="radio-circle"></div>
                <span class="label-text">Standard Plan</span>
              </label>

              <!-- Radio Option 2 (Checked) -->
              <label class="radio-wrapper">
                <input type="radio" name="subscription" class="aden-radio" value="pro" checked>
                <div class="radio-circle"></div>
                <span class="label-text">Pro Plan</span>
              </label>

              <!-- Radio Option 3 -->
              <label class="radio-wrapper">
                <input type="radio" name="subscription" class="aden-radio" value="enterprise">
                <div class="radio-circle"></div>
                <span class="label-text">Enterprise</span>
              </label>

            </div>

        </app-ui-playground>
    </div>
