   <div class="page-container onest-font">
        <app-ui-playground [htmlCode]="codeHtml" [scssCode]="codeScss" [tsCode]="codeTs" [meta]="meta">

            <div class="library-container">

                <div class="terminal-window">
                    <div class="terminal-bar">
                        <span>Console Output</span>
                    </div>

                    <!-- DIE SCROLLBAR KLASSE -->
                    <div class="terminal-content cyber-scrollbar">

                        @for (line of logs; track $index) {
                            <div class="log-entry">
                                <span class="timestamp">[20:{{ 10 + $index }}:45]</span>
                                <span class="cmd">> executing process_id_{{ 9900 + $index }}</span>
                                <span class="status">OK</span>
                            </div>
                        }

                    </div>
                </div>

            </div>

        </app-ui-playground>
    </div>
