:host {
  display: block;
  position: sticky;
  top: 0;
  z-index: 50;
}

header {
  width: 100%;
  height: var(--header-height);
  background-color: var(--dark-grey);
  border-bottom: 1px solid var(--border-color);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.content-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: var(--max-width);
}

.nav-and-settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  box-sizing: border-box;
  padding: 0 24px;
  overflow: hidden;

  @media (max-width: 768px) {
    padding: 0;
    flex: 0;
  }
}


app-header-logo {
  @media(max-width: 768px) {
    width: 100%;
  }
}
