
:host {
  display: block;
  --btn-text: var(--primary-white, #fff);
  --btn-bg: var(--primary-black, #000);
  --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
}

.container {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.button {
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  padding: 15px 32px;
  position: relative;
  text-decoration: none;
  isolation: isolate;
  border-radius: 99px;
  color: var(--btn-text);
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 1px solid var(--btn-text);
    border-radius: 99px;
    pointer-events: none;
  }
}

.button__label {
  position: relative;
  z-index: 2;
  color: var(--btn-text);
  mix-blend-mode: difference;
}

.button__flair {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    padding-bottom: 200%;
    border-radius: 50%;
    background-color: var(--btn-text);
    transform: translate(-50%, -50%);
    pointer-events: none;
  }
}
  