.page-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 20px;
  box-sizing: border-box;
  color: var(--primary-white);
  display: flex;
  flex-direction: column;
  gap: 60px;
}


.sub-text {
  margin-top: 12px;
  color: var(--primary-white-70);
  font-size: 16px;

  strong {
    color: var(--primary-white-90);
  }
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: start;

  @media (max-width: 1120px) {
    grid-template-columns: 1fr;
  }
}
