.home-wrapper {
  margin: 0 auto;
  padding: 60px 24px;
  box-sizing: border-box;

  @media (max-width: 1024px) {
    padding: 40px 20px;
  }

  @media (max-width: 480px) {
    padding: 20px 16px;
  }
}









































