.slider-viewport {
    overflow: hidden;
    width: 100%;
}

.slider-track {
    display: flex;
    transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}

.slide-item {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 20px;
    box-sizing: border-box;
}

.card {
    
}