:host {
    --tap-border-color: rgba(128, 128, 128, 0.493);
    --tap-active-border-color: #4caf50;
    --tap-text-color: #fff;
}

$border-color: rgba(128, 128, 128, 0.493);
$active-border-color: #4caf50;
$text-color: white;

.tap-main-container {
    width: 100%;
    height: auto;
    color: $text-color;
}

.tap-nav-container {
    display: flex;
    border-bottom: 2px solid $border-color;
    margin-bottom: 20px;
}

.labels-title {
    flex: 1;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.labels-title.active {
    border-bottom: 2px solid $active-border-color;
}

.tap-content-container {
    position: relative;
    overflow: hidden;
    transition: height 0.2s ease-in-out;
}

.content {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: start;
    justify-content: start;
}

.content.active {
    position: relative;
    left: 0;
    opacity: 1;
}

.content:not(.active) {
    position: absolute;
    left: 100%;
    opacity: 0;
}