<div class="page-container onest-font">
  <app-ui-playground [htmlCode]="codeHtml" [scssCode]="codeScss" [tsCode]="codeTs" [installCode]="installCode"
    [meta]="meta">

    <div class="library-container">

      <div #particleContainer class="particle-stage">

        <div class="center-content">
          <h3>Level Up!</h3>
          <button class="aden-btn glow" (click)="fireBurst()">
            <span class="btn-text">Claim Reward</span>
            <div class="btn-bg"></div>
          </button>
        </div>

      </div>

    </div>

  </app-ui-playground>

</div>
