.dialog-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(var(--glass-blur));
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  padding: 16px;
}

.dialog-card {
  width: 100%;
  max-width: 480px;
  background: var(--surface-card, #18181b);
  border: 1px solid var(--border-color, #27272a);
  border-radius: 16px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0;
}

.dialog-header {
  padding: 20px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* --- BODY --- */
.dialog-body {
  padding: 0 24px 24px 24px;
}

.warning-box {
  display: flex;
  gap: 16px;
  background: rgba(239, 68, 68, 0.1);
  border: 1px solid rgba(239, 68, 68, 0.2);
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 24px;

  .text {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

.form-group {
  font-family: var(--main-font);

  label {
    display: block;
    color: var(--text-muted);
    font-size: 13px;
    margin-bottom: 8px;

    .highlight-danger {
      color: var(--primary-white);
      font-weight: 700;
      user-select: none;
    }
  }

  input.danger-input {
    width: 100%;
    background: var(--code-bg);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 10px 12px;
    color: var(--primary-white);
    font-family: var(--main-font);
    font-size: 14px;
    outline: none;
    box-sizing: border-box;
    transition: all 0.2s;

    // Wenn man tippt, wird der Rand rot
    &:focus {
      border-color: var(--danger-color);
      box-shadow: 0 0 0 2px rgba(239, 68, 68, 0.1);
    }
  }
}

/* --- FOOTER --- */
.dialog-footer {
  padding: 16px 24px;
  background: rgba(0, 0, 0, 0.2);
  border-top: 1px solid var(--border-color);
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}


/* --- ANIMATIONS --- */
.fade-in {
  animation: fadeIn 0.2s ease-out;
}

.scale-in {
  animation: scaleIn 0.3s cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

