<div class="auth-page">
  <app-ambient-glow></app-ambient-glow>
  <div class="auth-card fade-in">

    <!-- STATE 1: EINGABE -->
    @if (!isSuccess()) {
    <div class="card-content">

      <div class="text-header">
        <app-logo-initial initial="🔑"></app-logo-initial>
        <h2>Set new password</h2>
        <app-typografie text="Your new password must be at least 8 characters long." size="small" [weight]="400" color="grey" align="center"></app-typografie>
      </div>

      <form [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()">
        <app-auth-inputs type="password" name="password" label="New Password" placeholder="Min. 8 characters"></app-auth-inputs>
        <app-auth-inputs type="password" name="confirmPassword" label="Confirm Password" placeholder="Repeat password"></app-auth-inputs>


        @if (newPasswordForm.hasError('mismatch') && newPasswordForm.get('confirmPassword')?.touched) {
        <div class="error-banner-inline">
          Passwords do not match.
        </div>
        }

        @if (errorMessage()) {
        <div class="error-banner-inline">
          {{ errorMessage() }}
        </div>
        }

        <div style="margin-top: 24px;">
          <app-auth-btn [isLoading]="isLoading()" [formInvalid]="newPasswordForm.invalid" [buttonText]="'Reset Password'" [loadingText]="'Updating...'"></app-auth-btn>
        </div>

      </form>

    </div>
    }

    <!-- STATE 2: SUCCESS -->
    @else {
    <div class="card-content success-view fade-in">

      <div class="text-header">
        <app-logo-initial initial="✅"></app-logo-initial>
        <h2>Password reset</h2>
        <app-typografie text="Your password has been successfully updated.<br>You can now log in with your new credentials." size="small" [weight]="400" color="grey" align="center"></app-typografie>
      </div>

      <div class="card-footer" style="width: 100%;">
        <a routerLink="/login" class="btn-primary" style="text-decoration: none;">
          Go to Login
        </a>
      </div>

    </div>
    }

  </div>
</div>
