/* --- CONTAINER --- */
.profile-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px;
  font-family: var(--main-font);
  color: var(--primary-white);
  animation: fadeIn 0.4s ease-out;
  min-height: calc(100dvh - var(--header-height));
  position: relative;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.profile-body {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 32px;

  // WICHTIG: Das verhindert, dass die Boxen langgezogen werden!
  align-items: start;

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }

}

.sidebar {
  position: sticky;
  top: 24px;

  @media (max-width: 900px) {
    position: static;
    top: auto;
  }
}
