:host {
    --aden-primary: #4ade80;
}

.aden-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #333 transparent;
    overflow-y: auto;
}

.aden-scrollbar::-webkit-scrollbar {
    width: 10px;
}

.aden-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.aden-scrollbar::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 20px;
    border: 3px solid transparent;
    background-clip: content-box;
}

.aden-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.aden-scrollbar::-webkit-scrollbar-thumb:active {
    background-color: var(--aden-primary);
    border-width: 2px;
}