
:host {
  --button-bg: #111;
  --button-text: #fff;
  --button-text-active: #000;
  --glow-color-1: #ff0000;
  --glow-color-2: #ff7300;
  --glow-color-3: #fffb00;
  --glow-color-4: #48ff00;
  --glow-color-5: #00ffd5;
  --glow-color-6: #002bff;
  --glow-color-7: #7a00ff;
  --glow-color-8: #000000;
  --glow-color-9: #ff0000;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: var(--button-text);
    background: var(--button-bg);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, var(--glow-color-1), var(--glow-color-2), var(--glow-color-3), var(--glow-color-4), var(--glow-color-5), var(--glow-color-6), var(--glow-color-7), var(--glow-color-8), var(--glow-color-9));
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: var(--button-text-active);
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--button-bg);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
