@if (meta(); as m) {
<div class="meta-header">

  <div class="meta-left">
    <div class="title-wrapper">
      <h2 class="comp-title">{{ m.title }}</h2>

      @if(isPremium()) {
      <app-pro-badge></app-pro-badge>
      }
    </div>
    <p class="comp-desc">{{ m.description }}</p>
  </div>

  <div class="meta-right">

    <div class="action-group">
      <button class="action-btn" [class.active]="isLiked()" (click)="likeClicked.emit()" title="Like">
        <span class="heart-icon">♥</span>
        <span class="count">{{ likeCount() }}</span>
      </button>

      <button class="action-btn save" [class.active]="isSaved()" (click)="saveClicked.emit()" title="Save">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="m19 21-7-4-7 4V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v16z" />
        </svg>
      </button>
    </div>

    <div class="divider"></div>

    @if (author(); as auth) {
    <a [routerLink]="['/profile', auth.username]" class="author-chip">
      <img [src]="auth.photo || 'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjNTI1MjViIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48cGF0aCBkPSJNMjAgMjF2LTJhNCA0IDAgMCAwLTQtNEg4YTQgNCAwIDAgMC00IDR2MiIvPjxjaXJjbGUgY3g9IjEyIiBjeT0iNyIgcj0iNCIvPjwvc3ZnPg=='" alt="{{ auth.first_name }}" class="author-img">

      <div class="author-info">
        <span class="by-label">Created by</span>
        <span class="author-name">
          {{ auth.first_name }} {{ auth.last_name }}
        </span>
      </div>
    </a>
    }
  </div>
</div>
}
