
.confetti-container {
  position: relative;
  width: 100%;
  height: 100vh; 
  overflow: hidden;
}

.confetti-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; 
  z-index: 10;
}
  