.page-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 20px;
  box-sizing: border-box;
  color: var(--primary-white);
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.step {
  margin-bottom: 30px;
}

.step h3 {
  font-size: 1.1rem;
  color: var(--primary-white); /* War #fff */
  margin-bottom: 8px;
}


